body {
    display: grid;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

#container {
    border: 1px solid black;
    display: grid;
}

#container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.square {
    background-color: white;
    color: black;
}

div.squareHover {
    background-color: black;
    color: white;
}