#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.step {
    /* flex: 1 1 400px; */
    flex-basis: 20%;
    background-color: black;
    padding: 5px;
    width: 100px;
    height: 100px;
    color: white;
}

/* div {
        border-color: black;
} */